{% set activeNav = activeNav|default('Recent') %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}{{ project }} Noise Budgets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style>
      * { font-family:"Arial Unicode MS", "Segoe UI", "FreeSans", "DejaVu Sans" }
      html,body { height:100%; }
      #content { padding-bottom:70px; }
      #wrap { min-height:100%; }
      .footer {
          position:relative;
          margin-top:-40px;
          line-height:40px;
          height: 40px;
          clear:both;
      }
    </style>
    {% block addstyle %}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ urlroot }}">{{ project }} Noise Budgets</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item{% if activeNav == 'Recent' %} active{% endif %}">
            <a class="nav-link" href="{{ urlroot }}">Recent</a>
          </li>
          {% for ifo in nav %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle{% if activeNav == ifo %} active{% endif %}" id="navbar{{ ifo }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ ifo }}</a>
            <div class="dropdown-menu" aria-labelledby="navbar{{ ifo }}">
              {% for junk, url, desc in nav[ifo] %}
              <a class="dropdown-item" href="{{ url }}">{{ desc[2] }} {{ desc[3] }}</a>
              {% endfor %}
            </div>
          </li>
          {% endfor %}
          {% if noisenav %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle{% if activeNav == 'Noises' %} active{% endif %}" id="navbarNoises" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Noises</a>
            <div class="dropdown-menu" aria-labelledby="navbarNoises">
              {% for doflabel, url in noisenav|dictsort %}
              <a class="dropdown-item" href="{{ url }}">{{ doflabel[0] }} {{ doflabel[1] }}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div id="wrap">
      <div id="content" class="container container-fluid pt-3">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer class="footer bg-dark">
      {% block footer %}
      <div class="container">
        <a class="text-muted font-italic" href="https://git.ligo.org/NoiseBudget/nbweb/issues">bug reports and feature requests</a>
      </div>
      {% endblock %}
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    {{ script }}
  </body>
</html>
