{% extends "base.html" %}
{% set activeNav = ifo %}
{% block title %}{{ ifo }} {{ dof }} - {% endblock %}
{% block addstyle %}<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">{% endblock %}
{% block content %}
<figure class="figure">
  {{ body }}
  <figcaption class="figure-caption">
    {% for dataext in dataexts %}
    <a class="btn btn-outline-dark btn-sm" href="{{ baseurl }}{{ dataext }}">
      {% if dataext == '.pdf' %}<i class="fa fa-file-pdf-o"></i>{% endif %}
      {% if dataext == '.svg' %}<i class="fa fa-file-code-o"></i>{% endif %}
      {% if dataext == '.hdf5' %}<i class="fa fa-file-archive-o"></i>{% endif %}
      {{ dataext[1:]|upper }}
    </a>
    {% endfor %}
  </figcaption>
</figure>
<br/>
<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">About this noise budget</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-light">
        Changelog (<a href="{{ dataurl }}">data git</a>):
        <div class="card">
          <div class="card-body">
            <pre class="pre-scrollable">{{ gitlog }}</pre>
          </div>
        </div>
      </li>
      <li class="list-group-item bg-light">
        <a href="{{ summaryurl }}">Summary page for {{ date.split('T')[0] }}</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
