{% extends "base.html" %}
{% set activeNav = 'Recent' %}
{% block addstyle %}<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">{% endblock %}
{% block content %}
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    {% for junk, desc, url, plot in ifos %}
    <div class="carousel-item{% if loop.first %} active{% endif %}">
      <figure class="figure">
        <div class="figure-img img-fluid">{{ plot }}</div>
        <figcaption class="figure-caption">More about <a href="{{ url }}">{{ desc }}</a>...</figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev" style="left:-110px">
    <i class="fa fa-3x fa-chevron-left" aria-hidden="true" style="color:black;"></i>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <i class="fa fa-3x fa-chevron-right" aria-hidden="true" style="color:black;"></i>
  </a>
</div>
{% endblock %}
